/* CSS files add styling rules to your content */
pre {
  background-color: #f6f8fa;
  border-radius: 3px;
  /*font-size: 85%;*/
  line-height: 1.45;
  overflow: auto;
  padding: 16px;

  white-space: pre-wrap;       /* Since CSS 2.1 */
  white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
}
