@media screen and (min-width: 800px) {
  .topicPage section {
    margin: 5px;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.3);
    border: 1px solid #ffffff;
    padding: 30px 30px 30px 30px;
    border-radius: 2px;
  }
}

@media screen and (max-width: 800px) {
  .topicPage section {
    padding: 14px;
  }
}

.topicPage span.subtitle {
  font-size: 0.9em;
  color: #c0c0c0;
  font-weight: 300;
}

.topicPage .refBreadcrumb {
  font-size: 0.9em;
}

.topicPage .refLink {
  font-size: 1.2em;
}

.topicPage ul {
  margin-block-start: 14px;
  margin-block-end: 0px;
}

.topicPage li {
  margin-bottom: 0.6em;
  margin-top: 0.6em;
}

.topicPage section {
  margin-bottom: 16px;
  background-color: #ffffff;
}

.topicPage section p {
  margin-block-end: 0;
}

.topicPage .title {
  display: block;

  line-height: 1.2;
  font-weight: 300;

  color: #182955;
}

.topicPage div.header {
  margin: 1em;
}

.topicPage h1.title {
  font-size: 1.65em;
  margin: 0;
}

.topicPage h2.title {
  font-size: 1.45em;
  margin-block-start: 0px;
  margin-block-end: 14px;
}

.topicPage h3.title {
  font-size: 1em;
  font-weight: 200;
  margin-block-start: 14px;
  margin-block-end: 14px;
}

.topicPage dd.listDD {
  margin-inline-start: 0px;
}
