@media screen and (min-width: 800px) {
  body {
    margin: 16px;
  }
}

body {
  display: block;
  height: 100%;

  font-weight: 400;
  font-size: 16px;
  line-height: 1.3em;

  word-wrap: break-word;
  color: #333333;
  background-color: #f4f4f4;
  fill: #333333;

  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial,
    sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  text-decoration: none;
  font-weight: 500;
  color: #5778d8;
}

.link-button {
	/* 
		Make a button like a link
		https://github.com/evcohen/eslint-plugin-jsx-a11y/blob/master/docs/rules/anchor-is-valid.md#case-i-understand-the-previous-cases-but-still-need-an-element-resembling-a-link-that-is-purely-clickable
	*/
  background-color: transparent;
  border: none;
  cursor: pointer;
  display: inline;
  margin: 0;
  padding: 0;

	/* add link values */
  line-height: 1.3rem;
  text-decoration: none;
  font-weight: 500;
  color: #5778d8;
}

form textarea {
  width: 100%;
  height: 100vh;
}
